@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap');
@import url('./style_layout_flex.css');

/* main */
main {
  padding: 50px 15px;
  background-color: whitesmoke;
  min-height: 300px;

}