@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');

/* base */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

body {
  /* 縦・横 */
  /* padding: 30px 0px; */
  color: #333333;
  /* font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', 'MS Pgothic', knowledge-reg,
    helvetica, arial, sans-serif; */
  font-family: "M PLUS Rounded 1c";

  /* font-family: "Sawarabi"; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* layout */

.flex {
  display: flex;
  /*縦中央*/
  align-items: center;

}

.flex-item {
  flex: 1;
}

header {
  height: 100px;
  padding: 5px 15px 5px;
  background-color: #3A3A3A;
  color: white;
  position: relative;
}


.menu {
  font-size: 40px;
}

.header-logo {
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
  height: 50px;
  width: 50px;
  text-align: center;
}

.logo {
  height: 40px;
  width: 40px;
}

.header-menu {
  text-align: right;

}

.header-menu a {
  display: inline-block;
  margin-left: 5px;
  text-decoration: none;
}

.header-menu a:link,
.header-menu a:visited {
  color: white;
}

/* header 背景画像用*/
header.image {
  height: 150px;
  padding: 5px 15px 5px;
  background-color: #3A3A3A;
  color: white;
  position: relative;
  background: center;
  /* background: 0 80%; */
  background-image: url('../images/lake.jpg');
  background-size: cover;

}

/* main */
main {
  padding: 50px 15px;
  /* background-color: whitesmoke; */
  min-height: 300px;
}


/* footer */
footer {
  height: 50px;

  line-height: 50px;
  background-color: #3A3A3A;
  color: white;
  text-align: center;

}

/* drawer */
.drawer {
  z-index: 3;
  width: 200px;
  height: 100%;
  background-color: #3A3A3A;
  border-right: 1px solid #fff;
  /* padding-left: 20px; */
  /* position */
  position: absolute;
  top: 0;
  color: #fff;

}

.open {
  left: 0;
  transition: 0.3s;
}

.close {
  left: -200px;
  transition: 0.3s;
}

.drawer ul {
  list-style: none;
}

.drawer li {
  /* padding-left: 20px; */
  height: 50px;
  line-height: 50px;
  border-top: solid 1px #fff;
  text-align: center;
}

.drawer li:last-child {
  border-bottom: solid 1px #3A3A3A;
}

.drawer .close-drawer {
  font-size: 25px;

}

.drawer a:link,
.drawer a:visited {
  color: white;
  text-decoration: none;

}

.cover {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
  display: none;
}

.show {
  background-color: #000;
  opacity: 0.5;
  display: block;
}

.hidden {
  display: none;
}

/**************/
/* 中央寄せ */
/**************/

.center-contents {
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
}

.center-contents h1 {
  margin-bottom: 30px;
}

/**************/
/* components */
/**************/

/* text form */
.form-text {
  display: block;
  margin: 0 auto 25px;
  width: 100%;
  padding: 2px;
  border-radius: 2px;
  font-size: 0.8rem;
}

/* submit button */
.form-submit {
  display: block;
  margin: 0 auto 25px;
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #3A3A3A;
  color: white;

}

/* select */
.form-select {
  padding: 2px;
  font-size: 0.8rem;
  background-color: wihte;
  border: 1px solid black;
}

.error-msg {
  background-color: #FFD7D7;
  color: red;
  border: tomato 1px solid;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  margin: 0 auto 25px;
  font-size: 0.75rem;
  text-align: left;
}

.error-msg p {
  margin: 5px 0px;
}