#point-exchange {
  color: #333333;
}

#point-exchange .modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  text-align: center;
  display: none;
}

#point-exchange .modal .modal-body {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 4px;
  width: 60%;
  min-width: 530px;
  min-height: 450px;
  max-height: 90%;
  overflow: scroll;
}

#point-exchange .modal .modal-header {
  width: 100%;
  height: 40px;
  background-color: #f44336;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
}

#point-exchange .modal .modal-close {
  margin-right: 20px;
}
#point-exchange .modal .modal-close a {
  font-size: 30px;
  color: #dfdfdf;
}
#point-exchange .modal .modal-content {
  padding: 0 50px 35px;
}

#point-exchange .modal .point-title {
  display: inline-block;
  padding: 0px 10px;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  margin-bottom: 50px;
}
#point-exchange .modal .point-title span {
  font-size: 24px;
  margin: 0;
}

#point-exchange .modal .notice {
  box-shadow: 0px 3px 6px #00000029;
  border: 3px solid #d6d6d6;
  border-radius: 5px;
  padding: 15px 10px 10px;
  margin-bottom: 30px;
}

#point-exchange .modal .notice__list ul {
  text-align: left;
}
#point-exchange .modal .notice__list li {
  font-size: 14px;
  color: #cc0000;
}

#point-exchange .modal .exchange__text {
  color: #797979;
  text-align: center;
  font-size: 16px;
}

#point-exchange .modal .exchange__text img {
  width: 16px;
  height: 16px;
}
#point-exchange .modal .exchange__rate_text {
  color: #f44336;
  text-align: center;
  font-size: 16px;
}
#point-exchange .modal .exchange__form {
  margin-top: 25px;
}
#point-exchange .modal .exchange__form select {
  min-width: 300px;
  margin-bottom: 25px;
}

#point-exchange .modal .line {
  border: 1px solid #707070;
}

#point-exchange .modal .description {
  margin-top: 33px;
  text-align: left;
  font-size: 14px;
}

/*********************************/
/********  page modal 共通 ********/
/*********************************/
#point-exchange .sub-title {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

#point-exchange .current-point {
  text-align: center;
}

#point-exchange .current-point__content {
  background-color: #2e59a0;
  padding: 10px 0 15px;
  margin-bottom: 20px;
}

#point-exchange .current-point__point {
  color: white;
  font-size: 39px;
}

#point-exchange .current-point__expiration {
  display: inline-block;
  padding: 3px 6px;
  background-color: white;
  font-size: 14px;
  color: #cc0000;
}

#point-exchange .current-point-wrapper {
  margin-bottom: 75px;
}

/*********************************/
/********  page  ********/
/*********************************/
#point-exchange .page {
  min-width: 500px;
}

#point-exchange .page .flow {
  text-align: center;
  margin-bottom: 50px;
}

#point-exchange .page .flow__content {
  box-shadow: 0px 3px 6px #00000029;
  border: 3px solid #d6d6d6;
  border-radius: 5px;
  padding: 40px;
}

#point-exchange .page .flow-images {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#point-exchange .page .item {
  width: 150px;
  color: #525252;
  font-size: 14px;
}

#point-exchange .page .flow-images img {
  width: 57px;
  height: 57px;
}

.arrow {
  width: 20px;
  height: 20px;
  margin: 15px;
  color: #6c6c6c;
}

#point-exchange .page .exchange-list {
  text-align: center;
}

/* #point-exchange .page .exchange-list__content {
  display: flex;
  justify-content: center;
  align-items: center;
} */

#point-exchange .page .exchange-list__row {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#point-exchange .page .exchange-list__row .item {
  width: 240px;
  height: 350px;
  margin-bottom: 20px;
  padding: 0px 25px 0px;
  box-shadow: 0px 0px 10px #00000029;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

#point-exchange .page .exchange-list__row .item + .item {
  margin-left: 20px;
}

#point-exchange .page .exchange-list__row .item__image {
  height: 160px;
  display: flex;  
  align-items: center;
  justify-content: center;
}

#point-exchange .page .exchange-list__row .item .item__text {
  text-align: left;
  color: #707070;
  font-size: 14px;
  height: 120px;
}


#point-exchange .page .exchange-list__row .item a {
  background: #F44336 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  color: white;  
  width: 50%;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  text-decoration: none;

}

#point-exchange .page .qa {
  text-align: center;
  margin-top: 60px;

}

#point-exchange .page .qa a {
  display: block;
  width: 100%;
  background-color: #898989;
  size: 24px;
  color: white;
  height: 56px;
  line-height: 56px;

}